/* WDD 130 Positioning Activity */
/* Activity 1 Styles */
.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
  }
  .red1 {
    width: 100%;
    height: 100px;
    background-color: red;
    grid-column: 1/3;
  }
  .green1 {
    width: 100px;
    height: 100px;
    background-color: green;
  }
  .yellow1 {
    width: 100px;
    height: 100px;
    background-color: gold;
    display: grid;
    grid-gap: 30px;
    position: relative;
    
  }
  .blue1 {
    width: 100%;
    height: 100px;
    background-color: blue;
    display: grid;
    grid-column: 1/3;
  }
  /* Activity 2 Styles */
  .content2 {
  position: relative;
  }
  .red2 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 100px;
    background-color: red;
  }
  .green2 {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: 100px;
    left: 150px;
  }
  .yellow2 {
    width: 100px;
    height: 100px;
    background-color: gold;
    position: absolute;
    top: 150px;
    left: 200px;
  }
  .blue2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 200px;
    left: 250px;
  }
  /* Activity 3 Styles */
  .content3 {
    display: grid;
  }
  .red3 {
    width: 100%;
    height: 100px;
    background-color: red;
    grid-column: 1/3;
  }
  .green3 {
    width: 300px;
    height: 300px;
    background-color: green;

  }
  .yellow3 {
    width: 300px;
    height: 300px;
    background-color: gold;
    position: relative;
    left: 87px;
  }
  .blue3 {
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column: 1/3;
  }
  /* Activity 4 Styles */
  .content4 {
    display: grid;
    grid-row: 3;
    grid-template-columns: 1fr, 1fr;
    height: 400px;
  }
  .red4 {
    width: 100px;
    height: 100px;
    background-color: red;
  }
  .green4 {
    width: 100px;
    height: 100px;
    background-color: green;
  }
  .yellow4 {
    width: 100px;
    height: 100px;
    background-color: gold;
  }
  .blue4 {
    width: 100px;
    height: 100px;
    background-color: blue;
  }
  /* Activity 5 Styles */
  .content5 {
    /* Activity Five Container */
    height: 400px;
  }
  .red5 {
      width: 100%;
      height: 100px;
      background-color: red;
      grid-column: 1/4;
      grid-row: 1/2;
  }
  }
  .green5 {
    width: 100px;
    height: 100px;
    background-color: green;
  }
  .yellow5{

  }
  .blue5{
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column: 1/4;
    grid-row: 1/2;
  }