.banner-box img {
    width: 100%;
}

body {
    background-color: rgb(242, 212, 146);
    font-size: 16px;
    font-family: sans-seriff;
    line-height: normal;
}

.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.content1-headline-1 {
    grid-column: 1/4;
    grid-row: 1/2;
    grid-gap: 1em;
}

.content1-paragraph-1 {
    text-align: center;
}

.content2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.content2-headline-2 {
    text-align: center;
}

.content2-paragraph-2 {
    text-align: center;
}

.content3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.content3-headline-3 {
    text-align: center;
}

.content3-paragraph-3 {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 110px auto;
    line-height: 55px;
    background-color: rgb(242, 149, 89);
    align-items: center;
}

h1, h2 {
    color: #283845;
    font-family: Georgia;
    line-height: 1;
}

h2 {
    margin-bottom: -.5em;
}

header {
    display: grid;
    grid-template-columns: 110px auto;
    background-color: rgb(242, 149, 89);
    align-items: center;
}

img {
    max-width: 100%;
}

main {
    padding: 1.5em;
}

nav a {
    color: purple;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    text-align: none;
    color: rgb(140, 140, 236);
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr)); 
    margin: 0;
}

p {
    line-height: 1.5;
}

.social {
    float: right;
    position: relative;
    display: inline-block;
}